@media (max-width: 1199px) and (min-width: 992px) {
  /* */
  /*  */
  .box_shadow {
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc; }

  .border_radius {
    border-radius: 5px;
    -webkit-border-radius: 5px; }

  .font_oswald {
    font-family: 'oswaldregular'; }

  /* BUTTON */
  .form-actions .form-submit {
    margin: 0 10px 10px 0;
    border: none;
    padding: 8px 20px;
    color: #fff;
    background: #c01700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer; }
    .form-actions .form-submit:hover, .form-actions .form-submit:focus {
      background-color: #555; }

  .font_awesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1; }

  /* slideshow */
  #slideshow .container .views-field-title {
    font-size: 1.53em; }

  .subscribe-form .form-text {
    float: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;
    width: 100%; }
  .subscribe-form .form-submit {
    float: none;
    border-radius: 3px;
    -webkit-border-radius: 3px; } }
@media (max-width: 991px) {
  /* */
  /*  */
  .box_shadow {
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc; }

  .border_radius {
    border-radius: 5px;
    -webkit-border-radius: 5px; }

  .font_oswald {
    font-family: 'oswaldregular'; }

  /* BUTTON */
  .form-actions .form-submit {
    margin: 0 10px 10px 0;
    border: none;
    padding: 8px 20px;
    color: #fff;
    background: #c01700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer; }
    .form-actions .form-submit:hover, .form-actions .form-submit:focus {
      background-color: #555; }

  .font_awesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1; }

  /* slideshow */
  #slideshow .container .views-field-title {
    font-size: 2.15em; }
  #slideshow .container .jssorb05 {
    bottom: 26px !important; }
    #slideshow .container .jssorb05 div {
      width: 16px !important;
      height: 16px !important; }
  #slideshow .container .jssora12l, #slideshow .container .jssora12r {
    display: none !important; }

  .sidebar-first {
    display: none; }

  .sidebar-second {
    margin-top: 15px; }

  #panel_second .col-lg-3 {
    margin-bottom: 15px; }

  /* main menu */
  .navbar-toggle {
    display: block;
    float: right;
    background: #fff;
    border-color: #e7e8e9;
    margin: 7px 0 0 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px; }
    .navbar-toggle:hover, .navbar-toggle:focus {
      background: #ddd; }
    .navbar-toggle .icon-bar {
      background: #333; }

  #main-menu {
    max-height: 20000px;
    margin-bottom: 0; }
    #main-menu .container {
      height: auto;
      position: relative;
      background: none;
      margin-bottom: 0; }
      #main-menu .container .block {
        float: none; }
    #main-menu .region-main-menu {
      margin-bottom: 15px; }
    #main-menu .navbar-collapse {
      max-height: 200000px; }
      #main-menu .navbar-collapse .container {
        height: 0;
        overflow: hidden;
        background: #fff; }
        #main-menu .navbar-collapse .container ul.menu {
          float: none;
          padding: 5px 15px; }
          #main-menu .navbar-collapse .container ul.menu li {
            border-left: none;
            float: none;
            border-top: 1px solid #dadada;
            border-top-style: dotted; }
            #main-menu .navbar-collapse .container ul.menu li a {
              display: block;
              color: #555;
              border-radius: 0;
              padding: 10px 0; }
              #main-menu .navbar-collapse .container ul.menu li a.is-active {
                color: #c01700;
                background: none; }
            #main-menu .navbar-collapse .container ul.menu li:hover a, #main-menu .navbar-collapse .container ul.menu li:focus a {
              background: none;
              color: #c01700;
              text-decoration: none; }
            #main-menu .navbar-collapse .container ul.menu li:first-child {
              border-top: none; }
            #main-menu .navbar-collapse .container ul.menu li ul.menu {
              position: static;
              left: auto;
              top: auto;
              width: auto;
              display: block;
              border: none;
              background: none; }
              #main-menu .navbar-collapse .container ul.menu li ul.menu li {
                border-top: 1px solid #dadada;
                border-top-style: dotted; }
                #main-menu .navbar-collapse .container ul.menu li ul.menu li a {
                  background: none;
                  color: #555;
                  padding: 10px 0; }
                  #main-menu .navbar-collapse .container ul.menu li ul.menu li a:hover, #main-menu .navbar-collapse .container ul.menu li ul.menu li a:focus {
                    color: #c01700; }
          #main-menu .navbar-collapse .container ul.menu .expanded > a:before {
            color: #555; }
    #main-menu .navbar-collapse.in .container {
      height: auto;
      margin-bottom: 15px; }

  .sidebar .our-products-list .views-row:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0; }
  .sidebar .our-products-list .views-row .views-field-field-image {
    float: left;
    margin: 0 15px 5px 0; }
  .sidebar .our-products-list .views-row .views-field-title {
    position: static;
    background: none;
    color: #555; }
    .sidebar .our-products-list .views-row .views-field-title a {
      color: #555; }
      .sidebar .our-products-list .views-row .views-field-title a:hover, .sidebar .our-products-list .views-row .views-field-title a:focus {
        color: #c01700; } }
@media (max-width: 767px) {
  /* */
  /*  */
  .box_shadow {
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc; }

  .border_radius {
    border-radius: 5px;
    -webkit-border-radius: 5px; }

  .font_oswald {
    font-family: 'oswaldregular'; }

  /* BUTTON */
  .form-actions .form-submit {
    margin: 0 10px 10px 0;
    border: none;
    padding: 8px 20px;
    color: #fff;
    background: #c01700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer; }
    .form-actions .form-submit:hover, .form-actions .form-submit:focus {
      background-color: #555; }

  .font_awesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1; }

  h2, h1, .h1 {
    font-size: 1.38em; }

  .page {
    padding: 0 15px; }
    .page .slider .views-field-field-image {
      padding: 0 10px; }

  #main-menu .navbar-header {
    right: 0;
    margin: 0; }

  /* slideshow */
  #slideshow .container .jssorb05 {
    bottom: 26px !important; }
    #slideshow .container .jssorb05 div {
      width: 26px !important;
      height: 26px !important; }
  #slideshow .container .views-field-title {
    display: none; }

  #featured .container {
    padding-left: 15px;
    padding-right: 15px; }
    #featured .container .views-col {
      width: 100% !important;
      margin-bottom: 15px;
      padding: 0; }
      #featured .container .views-col:after {
        content: ".";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0; }
      #featured .container .views-col:last-child {
        margin-bottom: 0; }
    #featured .container .views-field-field-image {
      float: left;
      margin: 0 15px 5px 0; }

  .navbar-collapse.in {
    overflow: visible; }

  /* sidebar */
  #header .search-block-form {
    width: 190px; }
    #header .search-block-form .form-item .form-search {
      width: 83%; }
    #header .search-block-form .button {
      padding: 0;
      width: 26px; }

  #main .contact-message-feedback-form label {
    display: block; }
  #main .contact-message-feedback-form .form-text, #main .contact-message-feedback-form .form-email {
    width: 230px; }

  /* footer */
  #footer .block {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center; }
    #footer .block p {
      margin: 0; }
  #footer ul.menu {
    text-align: center; }
    #footer ul.menu li {
      margin: 0;
      padding: 0 10px; }

  #forum td, #forum th {
    padding: 7px 3px;
    font-size: 0.923em; }

  #forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
    white-space: normal; }

  #comments .form-text {
    width: 100%; } }
@media (max-width: 639px) {
  #featured .container .views-field-field-image {
    float: none;
    margin: 0 0 15px; }

  #main .container .content .node--view-mode-teaser .field-type-image {
    float: none;
    margin: 0 0 15px; }

  button, input, optgroup, select, textarea {
    max-width: 100%; }

  /* search form page */
  #search-form #edit-basic label {
    display: block;
    margin: 0 0 10px; }
  #search-form #edit-basic .form-search {
    float: none;
    margin: 0;
    width: 100%; }
  #search-form #edit-basic .form-item {
    display: block; }
  #search-form .form-text {
    max-width: 100%;
    width: 100%; }
  #search-form .details-wrapper #action {
    margin-bottom: 10px; } }
@media (max-width: 480px) {
  /* */
  /*  */
  .box_shadow {
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc; }

  .border_radius {
    border-radius: 5px;
    -webkit-border-radius: 5px; }

  .font_oswald {
    font-family: 'oswaldregular'; }

  /* BUTTON */
  .form-actions .form-submit {
    margin: 0 10px 10px 0;
    border: none;
    padding: 8px 20px;
    color: #fff;
    background: #c01700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer; }
    .form-actions .form-submit:hover, .form-actions .form-submit:focus {
      background-color: #555; }

  .font_awesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1; }

  #header #logo {
    float: none; }
  #header .region-header {
    float: none;
    padding: 15px 0 0 0; }
  #header .search-block-form {
    width: 100%; }

  #main-menu .navbar-header {
    top: -48px; }

  #slideshow .container .jssorb05 div {
    width: 34px !important;
    height: 34px !important; }

  #main .container .content .field-type-image {
    float: none;
    margin: 0 0 15px !important; }
  #main .container .content #edit-user-picture-wrapper {
    padding: 5px; }

  #footer ul.menu li {
    padding: 0 5px; }

  .page .slider .views-field-field-image {
    padding: 0 10px; }

  #main .contact-message-feedback-form .form-text, #main .contact-message-feedback-form .form-email {
    width: 100%; }

  .sidebar .our-products-list .views-row {
    margin-bottom: 20px !important; }
    .sidebar .our-products-list .views-row:after {
      content: ".";
      clear: both;
      display: block;
      visibility: hidden;
      height: 0; }
    .sidebar .our-products-list .views-row .views-field-field-image {
      float: none;
      margin: 0 0 10px 0; }
    .sidebar .our-products-list .views-row .views-field-title {
      position: static;
      background: none;
      color: #555; }
      .sidebar .our-products-list .views-row .views-field-title a {
        color: #555;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0; }
        .sidebar .our-products-list .views-row .views-field-title a:hover, .sidebar .our-products-list .views-row .views-field-title a:focus {
          color: #c01700; } }
